* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, 
body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.header{
    min-height: 50px;
    background-color: red;
}
.main {
    background-color: blanchedalmond;
    flex-grow: 1;
    display: flex;

}
.aside{
    width: 350px;
    height: 100%;
    background-color: green;
    display: flex;

}
.main1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 100px;
    flex-grow: 1;

}
.main2{
    width: 600px;
    height: 400px;
    background-color: lightblue;
}
